name: Build Docs

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4.5.2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v5.1.0
        with:
            python-version: ${{ matrix.python-version }}

      - name: Install hatch
        run: |
            python -m pip install --upgrade pip
            python -m pip install hatch

      - name: Build documentation using Hatch
        run: |
            hatch run docs:build
